@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        font-size: 30%;
        position: fixed;
    }
    #wrapper {
        margin: 0px;
        position: fixed;
        display: grid;
        width: 100%;
        height: 100%;
        overflow: hidden;
        grid-template-rows: 60px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "nv nv nv nv nv" "mn mn mn mn mn" "mn mn mn mn mn" "mn mn mn mn mn" "mn mn mn mn mn" "mn mn mn mn mn" "mn mn mn mn mn" "mn mn mn mn mn"
    }
    .bg {
        background-image: url('https://static.pexels.com/photos/450062/pexels-photo-450062.jpeg');
        position: fixed;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center 10%;
        background-size: cover;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: -100;
    }
    .gradient {
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.658));
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -90;
        position: fixed;
    }
    .bluroverlayActive {
        background-color: #020f0fdc;
        content: “ ”;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 1;
        transition: background-color 0.5s ease;
    }
    /* -----------NAVBAR----------- */
    #navbar {
        width: 100%;
        height: 340px;
        grid-gap: 1px 0px;
        z-index: 5;
        grid-area: nv;
        background-color: #042a2b;
        top: -270px;
        display: grid;
        overflow: hidden;
        position: fixed;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "nt1 nt1 nt1 nt1 nt1" "nt2 nt2 nt2 nt2 nt2" "nt3 nt3 nt3 nt3 nt3" "nbts nbts nbts nbts nbts" "navm navm navm navm navm"
    }
    .navtxts {
        margin-left: 10px;
        color: #042a2b;
    }
    .navtxt1 {
        grid-area: nt1;
        background-color: #CDEDF6;
    }
    .navtxt2 {
        grid-area: nt2;
        background-color: #CDEDF6;
    }
    .navtxt3 {
        grid-area: nt3;
        background-color: #CDEDF6;
    }
    .navbtns {
        grid-area: nbts;
        background-color: #CDEDF6;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: ". nb1 nb2 acic ."
    }
    .navLogin {
        grid-area: nbts;
        background-color: #CDEDF6;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: ". nb1 nb2 acic .";
    }
    header input[type="text"] {
        font-size: 16px;
        padding: 6px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    header input[type="password"] {
        font-size: 16px;
        padding: 6px 10px;
        margin: 3px 0;
        box-sizing: border-box;
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    header input[type="submit"] {
        border: none;
        text-decoration: none;
        font-size: 20px;
        background-color: #CDEDF6;
        font-family: 'Roboto', sans-serif;
    }
    btntxt {
        font-family: 'Roboto', sans-serif;
        color: #383842;
        margin: auto;
    }
    .navbtn1 {
        grid-area: nb1;
        background-color: #5EB1BF;
        height: 60%;
        display: block;
        word-wrap: break-word;
        margin: 0px 10px;
        width: 80px;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
    .navbtn2 {
        grid-area: nb2;
        background-color: #042a2b;
        height: 60%;
        display: block;
        word-wrap: break-word;
        margin: 0px 10px;
        width: 110px;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
    .accic {
        grid-area: acic;
        margin: 0px 20px;
    }
    .logtxt {
        top: -10px;
        color: #042a2b;
        left: 12px;
        position: relative;
    }
    .regtxt {
        top: -10px;
        left: 12px;
        position: relative;
    }
    .navmenu {
        grid-area: navm;
        background-color: #042a2b;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "lg lg . . mic"
    }
    .logo {
        grid-area: lg;
        margin-left: 10px;
    }
    .menuic {
        grid-area: mic;
        cursor: pointer;
        margin: auto;
        transform: rotate(0deg);
        transition: .5s cubic-bezier(.17, .67, .21, 1.69);
        left: -50px;
    }
    .rotate {
        transform: rotate(90deg);
        transition: .5s cubic-bezier(.17, .67, .21, 1.69);
    }
    /* -----------MAIN INDEX----------- */
    #main_in {
        grid-area: mn;
        display: grid;
        background-image: url('test.jpg');
        background-size: cover;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: ". . . . ." ". pb pb pb ." ". dbb . mb ." ". . . . ." ". . . txts txts" ". exp . . ." ". . . . ."
    }
    .planbox {
        grid-area: pb;
        background-color: #042a2b;
        text-align: center;
        margin: 10%;
        border-radius: 10px;
        height: 60%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .dbbox {
        grid-area: dbb;
        background-color: #042a2b;
        text-align: center;
        display: block;
        border-radius: 10px;
        width: 20em;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .matchbox {
        grid-area: mb;
        background-color: #042a2b;
        text-align: center;
        display: block;
        border-radius: 10px;
        width: 20em;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .texts {
        grid-area: txts;
        text-align: right;
        margin-right: 40px;
    }
    .explbtn {
        grid-area: exp;
        background-color: #EF7B45;
        height: 40px;
        width: 110px;
        margin: -10px;
        border-radius: 5px;
        text-align: center;
        position: relative;
        bottom: -30px;
    }
    #expltxt {
        bottom: 10px;
        position: relative;
        color: #042a2b;
    }
    .button {
        background-color: #5EB1BF;
        height: 40px;
        margin: -10px;
        border-radius: 9px;
        text-align: center;
        position: relative;
    }
    /* -----------MAIN PLAN----------- */
    #main_pl {
        grid-area: mn;
        display: grid;
        background-image: url('test.jpg');
        background-size: cover;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "scrb scrb scrb scrb scrb"
        ". . . . ."
        ". . . . ."
        ". . . . ."
        ". . . . ."
        ". . . . ."
        ". . . . ."
    }
    #main_pl input[type="text"] {
        grid-area: scrb;
        height: 40%;
        padding: 10px;
        font-size: 500%;
        background-image: url('../img/search.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }
    h1 {
        font-family: 'Raleway', sans-serif;
        color: #CDEDF6;
        font-size: 6em;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        color: #CDEDF6;
        font-size: 5em;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        color: #CDEDF6;
        font-size: 4em;
    }
    h4 {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #CDEDF6;
        font-size: 4em;
    }
    p {
        font-family: 'Roboto', sans-serif;
        color: #CDEDF6;
        font-size: 3em;
    }
    a {
        text-decoration: none;
    }
}


/*font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-dark {
    color: #042a2b;
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: #CDEDF6;
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-42 {
    font-size: 42px;
}

.material-icons.md-48 {
    font-size: 48px;
}