@media only screen and (min-width: 769px) {

    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        font-size: 45%;
        position: fixed;
    }
    #wrapper {
        margin: 0px;
        position: fixed;
        display: grid;
        width: 100%;
        height: 100%;
        overflow: hidden;
        grid-template-rows: 90px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "nv nv nv nv nv nv nv nv nv nv nv nv"
        "mn mn mn mn mn mn mn mn mn mn mn mn"
        "mn mn mn mn mn mn mn mn mn mn mn mn"
        "mn mn mn mn mn mn mn mn mn mn mn mn"
        "mn mn mn mn mn mn mn mn mn mn mn mn"
        "mn mn mn mn mn mn mn mn mn mn mn mn"
        "mn mn mn mn mn mn mn mn mn mn mn mn"
        "mn mn mn mn mn mn mn mn mn mn mn mn"
    }
    .gradient {
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.692));
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -90;
        position: fixed;
    }
    .list1 {
        grid-area: l1;
        position: relative;
        margin: 0% 0% 0.5% 0%;
        width: 100%;
        text-align: right;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/iceland.jpeg') 100% 50% / 120%;
    }
    .list2 {
        grid-area: l2;
        position: relative;
        margin: 0.5% 0%;
        width: 100%;
        text-align: right;
        transition: ease 0.5s all;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/china.jpeg') 100% 50% / 120%;
    }
    .list3 {
        grid-area: l3;
        position: relative;
        margin: 0.5% 0%;
        width: 100%;
        text-align: right;
        transition: ease 0.5s all;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/bali.jpeg') 100% 70% / 120% ;
    }

    /* -----------NAVBAR----------- */

    #navbar {
        width: 100%;
        height: 90px;
        z-index: 10;
        grid-area: nv;
        background-color: #042a2b;
        display: grid;
        overflow: hidden;
        user-select: none;
        position: fixed;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
        "lg lg lg . . . . . nt1 nt2 nt3 acic"
    }
    .logo {
        grid-area: lg;
        margin-left: 10%;
        display: block;
        position: relative;
        top: -7%;
    }
    .navtxts {
        margin-left: 10px;
        color: #CDEDF6;
    }
    .navtxt1 {
        grid-area: nt1;
        position: relative;
        top: -5px;
    }
    .navtxt2 {
        grid-area: nt2;
        position: relative;
        top: -5px;
        right: 1.5%;
    }
    .navtxt3 {
        grid-area: nt3;
        position: relative;
        top: -5px;
    }
    .nvtxtmove {
        top: -70px;
    }
    .d_accic {
        grid-area: acic;
        position: relative;
        left: 25px;
        top: 14px;
        cursor: pointer;
    }
    .navbtns {
        display: block;
        position: fixed;
        right: 12%;
        top: -70px;
        width: 360px;
    }
    .navbtn1 {
        grid-area: nb1;
        display: flex;
        justify-content: center;
        background-color: #5EB1BF;
        position: relative;
        float: right;
        height: 60px;
        width: 160px;
        margin: 10px;
        border-radius: 5px;
    }
    .navbtn2 {
        grid-area: nb2;
        display: flex;
        justify-content: center;
        background-color: #5EB1BF;
        position: relative;
        float: left;
        height: 60px;
        width: 160px;
        margin: 10px;
        border-radius: 5px;
    }
    .logtxt {
        position: relative;
        bottom: 14px;
    }
    .regtxt {
        position: relative;
        bottom: 14px;
    }
    .navLogin {
        position: fixed;
        right: 200px;
        top: 9px;
        display: none;
    }
    header input[type="text"] {
        font-size: 20px;
        padding: 15px 10px;
        margin: 6px 0;
        height: 60px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    header input[type="password"] {
        font-size: 20px;
        padding: 15px 10px;
        margin: 6px 0;
        height: 60px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    header input[type="submit"] {
        border: none;
        text-decoration: none;
        font-size: 35px;
        background-color: #CDEDF6;
        font-family: 'Roboto', sans-serif;
        height: 60px;
        width: 150px;
        top: 6px;
        position: relative;
    }
    .m_accic {
        visibility: hidden;
        position: fixed;
    }
    .menuic {
        visibility: hidden;
        position: fixed;
    }

    /* -----------MAIN INDEX----------- */

    #main_in {
        grid-area: mn;
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        ". . . . . . . . . . . ."
        ". . . . . . . . txts txts txts ."
        "larr . pb pb . dbb dbb . mb mb . rarr"
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". exp exp . . . . . . . . ."
        ". . . . . . . . . . . ."
    }
    .bg {
        height: 100%;
        min-width: 100%;
        position: fixed;
    }
    .larr {
        grid-area: larr;
        user-select: none;
        text-shadow: 0px 0px 10px #042a2b;
    }
    .rarr {
        grid-area: rarr;
        user-select: none;
        float: right;
        display: flex;
        justify-self: right;
        text-shadow: 0px 0px 10px #042a2b;
    }
    .planbox {
        grid-area: pb;
        background-color: #042a2b;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        border-radius: 10px;
        height: 80%;
        user-select: none;
        width: 30em;
        transition: ease 0.5s transform;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .planbox:hover {
        transform: scale(1.1)
    }
    .planbox:active {
        background-color: #075153;
    }
    .dbbox {
        grid-area: dbb;
        background-color: #042a2b;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        border-radius: 10px;
        height: 80%;
        user-select: none;
        width: 30em;
        transition: ease 0.5s transform;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .dbbox:hover {
        transform: scale(1.1)
    }
    .dbbox:active {
        background-color: #075153;
    }
    .matchbox {
        grid-area: mb;
        background-color: #042a2b;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        border-radius: 10px;
        height: 80%;
        user-select: none;
        width: 30em;
        transition: ease 0.5s transform;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .matchbox:hover {
        transform: scale(1.1)
    }
    .matchbox:active {
        background-color: #075153;
    }
    .texts {
        grid-area: txts;
        user-select: none;
        text-align: right;
        margin-right: 40px;
        font-size: 150%;
    }
    .texts h4 {
        position: relative;
        text-shadow: 0px 0px 10px #042a2b;
        top: -50px;
    }
    .texts h1 {
        text-shadow: 0px 0px 10px #042a2b;
    }
    .explbtn {
        grid-area: exp;
        cursor: pointer;
        background-color: #EF7B45;
        height: 80px;
        width: 200px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    #expltxt {
        color: #042a2b;
        top: -13px;
        position: relative;
        font-size: 4.5em;
        user-select: none;
    }

    /* -----------MAIN PLAN----------- */

    #main_pl {
        grid-area: mn;
        display: grid;
        background-image: url('../img/bg.jpeg');
        background-size: cover;
        height: 100%;
        grid-template-rows: 80px 80px 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr;
        grid-template-areas: 
        "rlst . pnav pnav ."
        "rlst . scrb scrb ."
        "rlst . lst lst ."
        "rlst . lst lst ."
        "rlst . lst lst ."
        "rlst . lst lst ."
        "rlst . lst lst ."
    }
    #main_pl input[placeholder="Sök destination..."] {
        grid-area: scrb;
        padding: 10px;
        font-size: 300%;
        height: 25px;
        background-image: url('../img/search.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        border-style: none;
        margin: 20px 0px;
    }
    #main_pl .reslist {
        display: flex;
        position: absolute;
        flex-direction: column;
        overflow: auto;
        grid-area: rlst;
        background-color: #CDEDF6;
        width: 15%;
        z-index: 5;
        height: 110%;
        top: 80px;
    }
    #main_pl .reslist div {
        margin: 20px 0px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2), 0px 0px 20px 2px rgba(0, 0, 0, 0.19);
    }
    #main_pl .reslist div:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2), 0px 0px 40px 10px rgba(0, 0, 0, 0.19);
    }
    #main_pl .reslist div:active {
        box-shadow: none;
    }
    #main_pl .reslist h2 {
        margin-right: 10px;
        color: #CDEDF6;
    }
    #main_pl .reslist > h2 i {
        position: relative;
        top: 10px;
        left: 10px;
        background-color: #042a2b;
        border-radius: 5px;
    }
    #main_pl .reslist > h2 {
        margin-bottom: 20px;
        margin-left: 10px;
        color: #042a2b;
    }
    .rlist {
        display: grid;
        height: 80%;
        grid-area: lst;
        margin-top: 5px;
        background-color: #042a2b;
        border-radius: 20px;
        position: relative;
        padding: 20px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 100px);
        grid-template-areas: 
        "l1 l1 l1 l1 l1"
        "l2 l2 l2 l2 l2"
        "l3 l3 l3 l3 l3"
        ". . . . ."
        ". . . . ."
        ". . . . ."
        ". . . . ."
    }
    .rlist div i {
        margin: 5px;
    }
    #main_pl .rlist h2 {
        position: absolute;
        right: 20%;
        top: -10%;
    }
    .list_item {
        background-color: #042a2b;
        border-radius: 10%;
        float: left;
        top: 10%;
        left: 2%;
        position: relative;
    }
    .back i {
        background-color: #042a2b;
        border-radius: 10%;
    }
    .rlist1 {
        grid-area: l1;
        position: relative;
        margin: 0% 0% 0.5% 0%;
        width: 100%;
        text-align: right;
    }
    .rlist1 .front {
        display: block;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/iceland.jpeg') 100% 50% / 120%;
        transition: ease-in-out 0.5s all;
    }
    .rlist1 .front:hover {
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/iceland.jpeg') 100% 50% / 110% ;
        transition: ease-in-out 0.5s all;
    }
    .rlist2 {
        grid-area: l2;
        position: relative;
        margin: 0.5% 0%;
        width: 100%;
        text-align: right;
        transition: ease 0.5s all;
    }
    .rlist2 .front {
        display: block;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/china.jpeg') 100% 50% / 120%;
        transition: ease-in-out 0.5s all;
    }
    .rlist2 .front:hover {
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/china.jpeg') 100% 50% / 110% ;
        transition: ease-in-out 0.5s all;
    }
    .rlist3 {
        grid-area: l3;
        position: relative;
        margin: 0.5% 0%;
        width: 100%;
        text-align: right;
        transition: ease 0.5s all;
    }
    .rlist3 .front {
        display: block;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/bali.jpeg') 100% 70% / 120% ;
        transition: ease-in-out 0.5s all;
    }
    .rlist3 .front:hover {
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/bali.jpeg') 100% 70% / 110% ;
        transition: ease-in-out 0.5s all;
    }
    .rlist .values input {
        width: 50%;
        padding: 10px;
        font-size: 18px;
        border-style: none;
        border: #042a2b 2px solid;
    }
    .rlist button {
        width: auto;
        border-style: none;
        font-size: 250%;
        background-color: #CDEDF6;
        border: #042a2b 2px solid;
    }
    .rlist .values {
        display: flex;
        flex-direction: row;
    }
    .rlist div > input {
        width: 100%;
        font-size: 33px;
        text-align: center;
        border-style: none;
        border: #042a2b 2px solid;
    }
    .rlist .bdg1 {
        grid-area: b1;
        display: flex;
        flex-direction: column;
    }
    .rlist .bdg2 {
        grid-area: b2;
        display: flex;
        flex-direction: column;
    }
    .rlist .bdg3 {
        grid-area: b3;
        display: flex;
        flex-direction: column;
    }
    .m_budgetbox {
        position: fixed;
        visibility: hidden;
    }
    footer h3 {
        color: #CDEDF6;
    }
    .plannav {
        grid-area: pnav;
        margin: 20px 0px;
        width: 100%;
        z-index: 2;
        display: grid;
        grid-template-columns: 50px 50px 1fr 1fr 25% 25%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "sv del map map bdg bdg"
    }
    .trips {
        visibility: hidden;
        position: fixed;
    }
    .trippop {
        visibility: hidden;
        position: fixed;
    }
    .trippop h3 {
        margin-bottom: 30%;
        margin-left: 10px;
        font-size: 25px;
        color: #042a2b;
    }
    .trippop li {
        margin: 1px 0px 1px;
        height: 45px;
        transition: ease 0.3s all;
    }
    .trippop li:hover {
        background-color: rgb(186, 213, 221);
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2), 0px 0px 20px 2px rgba(0, 0, 0, 0.19);
    }
    .trippop li:active {
        background-color: rgb(158, 176, 182)
    }
    .trippop i {
        margin-right: 5%;
        margin-top: 5%;
        float: right;
    }
    .trippop h4 {
        color: #042a2b;
        margin-left: 5%;
        user-select: none;
    }
    .save {
        grid-area: sv;
        display: flex;
        justify-self: center;
        justify-content: center;
        position: relative;
        background-color: #042a2b;
        height: 50px;
        width: 100%;
        margin-bottom: 5px;
        left: 0px;
        transition: background-color .3s ease;
    }
    .d_saveic {
        margin-top: 6px;
    }
    .m_saveic {
        visibility: hidden;
        position: fixed;
    }
    .savepop {
        position: absolute;
        display: none;
        bottom: -150%;
        left: 0px;
        width: 150px;
        z-index: 5;
        border: #5EB1BF 3px solid;
        background-color: white;
    }
    .savepop input[type="text"] {
        padding: 5%;
        font-size: 300%;
        width: 130px;
        border-style: none;
    }
    .savepop input[type="submit"] {
        border: none;
        text-decoration: none;
        font-size: 300%;
        width: 150px;
        background-color: #CDEDF6;
        font-family: 'Roboto', sans-serif;
    }
    .d_budget {
        grid-area: bdg;
        display: flex;
        position: relative;
        height: 50px;
        align-items: center;
        justify-content: center;
        background-color: #042a2b;
        margin-left: 7px;
        user-select: none;
    }
    .m_budget {
        position: fixed;
        visibility: hidden;
    }
    .bdg {
        position: fixed;
        visibility: hidden;
    }
    .delete {
        transition: background-color .3s ease;
        grid-area: del;
        display: flex;
        justify-self: center;
        justify-content: center;
        position: relative;
        background-color: #042a2b;
        height: 50px;
        width: 100%;
        margin-left: 8px;
    }
    .d_delic {
        margin-top: 6px;
    }
    .m_delic {
        visibility: hidden;
        position: fixed;
    }
    .map {
        transition: background-color .3s ease;
        grid-area: map;
        display: flex;
        position: relative;
        height: 50px;
        align-items: center;
        justify-content: center;
        background-color: #042a2b;
        margin-left: 9px;
        user-select: none;
    }
    .karta {
        background-image: url('../img/map.png');
        background-size: cover;
        background-position: 80% 100%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 20px;
        height: 100%;
        z-index: 1;
        position: absolute;
        display: none;
    }

    /* -----------MAIN DAGBOK----------- */
    #main_dgb {
        grid-area: mn;
        display: grid;
        background-image: url('../img/bg.jpeg');
        background-size: cover;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "lst dlst dlst dlst dlst"
        "lst . dgb dgb ."
        "lst . dgb dgb ."
        "lst . dgb dgb ."
        "lst . dgb dgb ."
        "lst . dgb dgb ."
        "lst . dgb dgb ."
    }
    .dgbtext {
        width: 100%;
        height: 50%;
        border-style: none;
        border: #042a2b 5px solid;
        border-radius: 20px;
        padding: 20px;
        font-size: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .dagbok {
        grid-area: dgb;
    }
    .dagbok button {
        border-style: none;
        border-radius: 5px;
        background-color: #042a2b;
        padding: 5px;
        transition: all .2s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .dagbok button:hover {
        transform: scale(1.1);
    }
    .dagbok button:active {
        background-color: #2c5f61;
        box-shadow: none;
    }
    #main_dgb .list {
        display: flex;
        flex-direction: column;
        position: absolute;
        flex-direction: column;
        grid-area: lst;
        background-color: #CDEDF6;
        width: 15%;
        height: 110%;
        top: 80px;
    }
    #main_dgb .list div {
        margin: 20px 0px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2), 0px 0px 20px 2px rgba(0, 0, 0, 0.19);
    }
    #main_dgb .list div:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2), 0px 0px 40px 10px rgba(0, 0, 0, 0.19);
    }
    #main_dgb .list div:active {
        box-shadow: none;
    }
    #main_dgb .list h2 {
        margin-right: 10px;
        color: #CDEDF6;
    }
    #main_dgb .list > h2 i {
        position: relative;
        top: 10px;
        left: 10px;
        background-color: #042a2b;
        border-radius: 5px;
    }
    .newpop {
        position: fixed;
        display: none;
        left: 180px;
        width: 150px;
        top: 110px;
        z-index: 5;
        border: #5EB1BF 3px solid;
        background-color: white;
    }
    .newpop input[type="text"] {
        padding: 5%;
        font-size: 300%;
        width: 130px;
        border-style: none;
    }
    .newpop input[type="submit"] {
        border: none;
        text-decoration: none;
        font-size: 300%;
        width: 150px;
        background-color: #CDEDF6;
        font-family: 'Roboto', sans-serif;
    }
    #main_dgb .list > h2 {
        margin-bottom: 20px;
        margin-left: 10px;
        color: #042a2b;
    }
    #main_dgb .datelist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: dlst;
        margin-bottom: 20px;
    }
    #main_dgb .dates {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    #main_dgb .datelist h2 {
        color: #042a2b;
        text-align: center;
    }
    #main_dgb .datelist h4 {
        display: block;
        background-color: #CDEDF6;
        padding: 7px;
        transition: all .2s ease-in-out;
        text-align: center;
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2), 0px 3px 10px 1px rgba(0, 0, 0, 0.19);
    }
    #main_dgb .datelist h4:hover {
        transform: scale(1.1);
    }
    #main_dgb .datelist h4:active {
        box-shadow: none;
    }
    #main_dgb .datelist h4 {
        color: #042a2b;
        margin: 0px 10px;
        user-select: none;
    }
    .resor {
        position: fixed;
        visibility: hidden;
    }

    /* -----------MAIN MATCH----------- */
    #main_mc {
        grid-area: mn;
        display: grid;
        background-image: url('../img/bg.jpeg');
        background-size: cover;
        height: auto;
        min-height: 100%;
        grid-template-rows: 15% 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        overflow-x: auto;
        white-space: nowrap;
        grid-template-areas: 
        "lst . mc mc ."
        "lst . mc mc ."
        "lst . mc mc ."
        "lst . mc mc ."
        "lst . mc mc ."
        "lst . mc mc ."
        "lst . mc mc ."
    }
    #main_mc .list {
        display: flex;
        position: absolute;
        flex-direction: column;
        grid-area: lst;
        background-color: #CDEDF6;
        width: 15%;
        height: 110%;
        top: 80px;
    }
    #main_mc .list div {
        margin: 20px 0px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2), 0px 0px 20px 2px rgba(0, 0, 0, 0.19);
    }
    #main_mc .list div:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2), 0px 0px 40px 10px rgba(0, 0, 0, 0.19);
    }
    #main_mc .list div:active {
        box-shadow: none;
    }
    #main_mc .list h2 {
        margin-right: 10px;
        color: #CDEDF6;
    }
    #main_mc .list > h2 i {
        position: relative;
        top: 10px;
        left: 10px;
        background-color: #042a2b;
        border-radius: 5px;
    }
    #main_mc .list > h2 {
        margin-bottom: 20px;
        margin-left: 10px;
        color: #042a2b;
    }
    .match {
        grid-area: mc;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .match h2 {
        color: #042a2b;
    }
    .match h4 {
        color: #042a2b;
        margin-top: -20px;
    }
    .dest {
        background-color: #042a2b;
        border-radius: 20px;
        width: 100%;
        min-height: 175px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        overflow: hidden;
        transition: all .4s ease;
    }
    .persons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-self: center;
        justify-content: center;
        overflow-x: hidden;
        margin-bottom: 20px;
    }
    .person {
        border-radius: 5px;
        margin: 0px 30px;
        background-color: #CDEDF6;
        display: flex;
        overflow: hidden;
        height: 90px;
        min-width: 70px;
        flex-direction: column;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .person h5 {
        margin-top: -5px;
        user-select: none;
        color: #042a2b;
    }
    .chat {
        resize: none;
        width: 60%;
        height: 200px;
    }
    .chatform {
        margin-bottom: 20px
    }
    .chatwrite {
        width: 50%;
    }
    .chatsend {
        width: 10%;
        background-color: #CDEDF6;
        border-style: none;
    }


    .material-icons.md-18 {
        font-size: 24px;
    }
    
    .material-icons.md-24 {
        font-size: 36px;
    }
    
    .material-icons.md-36 {
        font-size: 42px;
    }
    
    .material-icons.md-42 {
        font-size: 48px;
    }
    
    .material-icons.md-48 {
        font-size: 62px;
    }
    .material-icons.md-86 {
        font-size: 86px;
    }
}

/* -----------MOBIL----------- */

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        font-size: 30%;
        position: fixed;
    }
    #wrapper {
        margin: 0px;
        position: fixed;
        display: grid;
        width: 100%;
        height: 100%;
        background-color: #042a2b;
        overflow: hidden;
        grid-template-rows: 60px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "nv nv nv nv nv"
        "mn mn mn mn mn"
        "mn mn mn mn mn"
        "mn mn mn mn mn"
        "mn mn mn mn mn"
        "mn mn mn mn mn"
        "mn mn mn mn mn"
        "mn mn mn mn mn"
    }
    .gradient {
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.692));
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -90;
        position: fixed;
    }
    .bluroverlay {
        transition: background-color 0.5s ease;
        background-color: #020f0f00;
    }
    .bluroverlayActive {
        background-color: #020f0fdc;
        content: “ ”;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 5;
        transition: background-color 0.5s ease;
    }
    .list1 {
        grid-area: l1;
        position: relative;
        margin: 0% 0% 0.5% 0%;
        width: 100%;
        color: #CDEDF6;
        text-align: right;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/iceland.jpeg') 100% 50% / 120%;
    }
    .list2 {
        grid-area: l2;
        position: relative;
        margin: 0.5% 0%;
        width: 100%;
        text-align: right;
        transition: ease 0.5s all;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/china.jpeg') 100% 50% / 120%;
    }
    .list3 {
        grid-area: l3;
        position: relative;
        margin: 0.5% 0%;
        width: 100%;
        text-align: right;
        transition: ease 0.5s all;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/bali.jpeg') 100% 70% / 120% ;
    }
    /* -----------NAVBAR----------- */
    #navbar {
        width: 100%;
        height: 340px;
        grid-gap: 1px 0px;
        z-index: 10;
        grid-area: nv;
        background-color: #042a2b;
        top: -270px;
        display: grid;
        overflow: hidden;
        position: fixed;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "nt1 nt1 nt1 nt1 nt1"
        "nt2 nt2 nt2 nt2 nt2"
        "nt3 nt3 nt3 nt3 nt3"
        "nbts nbts nbts nbts nbts"
        "navm navm navm navm navm"
    }
    .navtxts {
        margin-left: 10px;
        color: #042a2b;
    }
    .navtxt1 {
        grid-area: nt1;
        background-color: #CDEDF6;
    }
    .navtxt2 {
        grid-area: nt2;
        background-color: #CDEDF6;
    }
    .navtxt3 {
        grid-area: nt3;
        background-color: #CDEDF6;
    }
    .navbtns {
        grid-area: nbts;
        background-color: #CDEDF6;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: ". nb1 nb2 acic ."
    }
    .navLogin {
        background-color: #CDEDF6;
        display: none;
        width: 100%;
        position: relative;
        text-align: center;
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "usr psw sbmt"
    }
    header input[type="text"] {
        grid-area: usr;
        font-size: 16px;
        padding: 6px 10px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    header input[type="password"] {
        grid-area: psw;
        font-size: 16px;
        padding: 6px 10px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    header input[type="submit"] {
        grid-area: sbmt;
        border: none;
        width: 100%;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        float: right;
        background-color: #CDEDF6;
        font-family: 'Roboto', sans-serif;
    }
    .navbtn1 {
        grid-area: nb1;
        background-color: #5EB1BF;
        height: 60%;
        display: block;
        word-wrap: break-word;
        margin: 0px 10px;
        width: 80px;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
    .navbtn2 {
        grid-area: nb2;
        background-color: #042a2b;
        height: 60%;
        display: block;
        word-wrap: break-word;
        margin: 0px 10px;
        width: 110px;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
    .m_accic {
        grid-area: acic;
        margin: 0px 20px;
    }
    .d_accic {
        visibility: hidden;
        position: fixed;
    }
    .logtxt {
        top: -10px;
        color: #042a2b;
        left: 12px;
        position: relative;
    }
    .regtxt {
        top: -10px;
        left: 12px;
        position: relative;
    }
    .navmenu {
        grid-area: navm;
        background-color: #042a2b;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "lg lg . . mic"
    }
    .logo {
        grid-area: lg;
        margin-left: 10px;
    }
    .menuic {
        grid-area: mic;
        cursor: pointer;
        display: block;
        margin: auto;
        transform: rotate(0deg);
        transition: .5s cubic-bezier(.17, .67, .21, 1.69);
        left: -50px;
        visibility: visible;
    }
    .rotate {
        transform: rotate(90deg);
        transition: .5s cubic-bezier(.17, .67, .21, 1.69);
    }
    .rotate180 {
        transform: rotate(180deg);
        transition: .5s ease all;
    }
    /* -----------MAIN INDEX----------- */
    #main_in {
        grid-area: mn;
        display: grid;
        background-size: cover;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        ". . . . ."
        ". pb pb pb ."
        ". dbb . mb ."
        ". . . . ."
        ". . txts txts txts"
        ". exp . . ."
        ". . . . ."
    }
    .planbox {
        grid-area: pb;
        background-color: #042a2b;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        margin: 10%;
        border-radius: 10px;
        height: 60%;
        width: 30em;
        display: flex;
        justify-content: center;
        justify-self: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .dbbox {
        grid-area: dbb;
        background-color: #042a2b;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        border-radius: 10px;
        width: 23em;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .matchbox {
        grid-area: mb;
        background-color: #042a2b;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        border-radius: 10px;
        width: 23em;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .texts {
        grid-area: txts;
        text-align: right;
        margin-right: 40px;
    }
    .explbtn {
        grid-area: exp;
        background-color: #EF7B45;
        height: 40px;
        width: 110px;
        margin: -10px;
        border-radius: 5px;
        text-align: center;
        position: relative;
        bottom: -30px;
    }
    #expltxt {
        bottom: 10px;
        position: relative;
        color: #042a2b;
    }
    .button {
        background-color: #5EB1BF;
        height: 40px;
        margin: -10px;
        border-radius: 9px;
        text-align: center;
        position: relative;
    }
    /* -----------MAIN PLAN----------- */
    #main_pl {
        grid-area: mn;
        display: grid;
        background-color: #CDEDF6;
        background-image: url('../img/bg.jpeg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 150%;
        height: 100%;
        grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "scrb scrb scrb scrb scrb"
        "lst lst lst lst lst"
        "lst lst lst lst lst"
        "lst lst lst lst lst"
        "lst lst lst lst lst"
        "lst lst lst lst lst"
        "pnav pnav pnav pnav pnav"
    }
    #main_pl input[placeholder="Sök destination..."] {
        grid-area: scrb;
        padding: 10px;
        padding-top: 15px;
        font-size: 500%;
        background-image: url('../img/search.png');
        background-repeat: no-repeat;
        background-position: 100% -200%;
    }
    .rlist {
        display: grid;
        width: 100%;
        grid-area: lst;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 75px);
        grid-template-areas: 
        "l1 l1 l1 l1 l1"
        "l2 l2 l2 l2 l2"
        "l3 l3 l3 l3 l3"
        ". . . . ."
        ". . . . ."
        ". . . . ."
        ". . . . ."
    }
    .rlist i {
        margin: 1%;
    }
    #main_pl .list h2 {
        position: absolute;
        right: 20%;
        top: 0%;
    }
    .start {
        float: left;
        top: 10%;
        left: 2%;
        position: relative;
    }
    .check {
        float: left;
        top: 10%;
        left: 2%;
        position: relative;
    }
    .fin {
        float: left;
        top: 10%;
        left: 2%;
        position: relative;
    }
    .rlist div i {
        margin: 5px;
    }
    #main_pl .rlist h2 {
        position: absolute;
        right: 23%;
        top: -5%;
    }
    .list_item {
        background-color: #042a2b;
        border-radius: 10%;
        float: left;
        top: 10%;
        left: 2%;
        position: relative;
    }
    .back i {
        background-color: #042a2b;
        border-radius: 10%;
    }
    .rlist1 {
        grid-area: l1;
        position: relative;
        margin: 0% 0% 0.5% 0%;
        width: 100%;
        text-align: right;
    }
    .rlist1 .front {
        display: block;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/iceland.jpeg') 100% 50% / 120%;
        transition: ease-in-out 0.5s all;
    }
    .rlist2 {
        grid-area: l2;
        position: relative;
        margin: 0.5% 0%;
        width: 100%;
        text-align: right;
        transition: ease 0.5s all;
    }
    .rlist2 .front {
        display: block;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/china.jpeg') 100% 50% / 120%;
        transition: ease-in-out 0.5s all;
    }
    .rlist3 {
        grid-area: l3;
        position: relative;
        margin: 0.5% 0%;
        width: 100%;
        text-align: right;
        transition: ease 0.5s all;
    }
    .rlist3 .front {
        display: block;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(4, 42, 43, 0.925), rgb(4, 42, 43)),
        url('../img/bali.jpeg') 100% 70% / 120% ;
        transition: ease-in-out 0.5s all;
    }
    .rlist .values input {
        width: 50%;
        padding: 10px;
        font-size: 18px;
        border-style: none;
        border: #042a2b 2px solid;
    }
    footer h3 {
        color: #042a2b;
    }
    .plannav {
        grid-area: pnav;
        background-color: #CDEDF6;
        width: 100%;
        z-index: 2;
        height: 37px;        
        position: fixed;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "tr tr sv bdg bdg del map map"
    }
    .trips {
        grid-area: tr;
        display: flex;
        position: relative;
        height: 60%;
        align-items: center;
        justify-content: center;
        margin-right: 2%;
        background-color: #CDEDF6;
        transition: background-color .3s ease;
    }
    .trippop {
        overflow: hidden;
        display: block;
        position: absolute;
        bottom: -650%;
        background-color: #CDEDF6;
        border-radius: 7px 7px 0px 0px;
        width: 85px;
        height: 160px;
        z-index: -50;
        padding-top: 5px;
    }
    .rekresor {
        visibility: hidden;
        position: fixed;
    }
    .trippop li {
        margin-bottom: -25%;
        margin-top: -25%;
        background-color: #CDEDF6;

    }
    .trippop i {
        margin-left: 10%;
        float: right;
        top: 5px;
        right: 3px;
        position: relative;
    }
    .trippop h4 {
        color: #042a2b;
        margin-left: 5px;

    }
    .trippop h3 {
        position: fixed;
        visibility: hidden;
    }
    .save {
        grid-area: sv;
        display: flex;
        justify-self: center;
        justify-content: center;
        position: relative;
        background-color: #CDEDF6;
        height: 100%;
        width: 100%;
        transition: background-color .3s ease;
    }
    .d_saveic {
        visibility: hidden;
        position: fixed;
    }
    .savepop {
        position: absolute;
        display: none;
        bottom: 100%;
    }
    .savepop input[type="text"] {
        padding: 5%;
        font-size: 300%;
    }
    .savepop input[type="submit"] {
        border: none;
        text-decoration: none;
        font-size: 300%;
        width: 110%;
        background-color: #CDEDF6;
        font-family: 'Roboto', sans-serif;
    }
    .m_budget {
        grid-area: bdg;
        display: flex;
        position: relative;
        height: 60%;
        align-items: center;
        justify-content: center;
        background-color: #CDEDF6;
        margin-right: 2%;
        margin-left: 2%;
        transition: background-color .3s ease;
    }
    .d_budget {
        position: fixed;
        visibility: hidden;
    }
    .rlist .values input {
        display: block;
        padding: 10px 0px;
        font-size: 13px;
        text-align: center;
        border-style: none;
        border: #042a2b 1px solid;
    }
    .rlist button {
        width: auto;
        border-style: none;
        font-size: 11px;
        background-color: #CDEDF6;
        border: #042a2b 1px solid;
    }
    .rlist .values {
        display: flex;
        flex-direction: row;
    }
    .rlist div > input {
        width: 100%;
        font-size: 28px;
        text-align: center;
        border-style: none;
        border: #042a2b 1px solid;
    }
    .d_budgetbox {
        position: fixed;
        visibility: hidden;
    }
    .delete {
        grid-area: del;
        display: flex;
        justify-self: center;
        justify-content: center;
        position: relative;
        background-color: #CDEDF6;
        height: 100%;
        width: 100%;
        transition: background-color .3s ease;
    }
    .d_delic {
        visibility: hidden;
        position: fixed;
    }
    .map {
        grid-area: map;
        display: flex;
        position: relative;
        height: 60%;
        align-items: center;
        justify-content: center;
        background-color: #CDEDF6;
        margin-left: 2%;
        transition: background-color .3s ease;
    }
    .karta {
        background-image: url('../img/map.png');
        background-size: cover;
        background-position: 80% 100%;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: fixed;
        display: none;
    }
    /* -----------MAIN DAGBOK----------- */
    #main_dgb {
        grid-area: mn;
        display: grid;
        background-color: #042a2b;
        background-image: url('../img/bg.jpeg');
        background-size: cover;
        background-position-x: 50%;
        height: 100%;
        grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 40px;
        grid-template-columns: 30px repeat(3, 1fr) 30px; 
        grid-template-areas: 
        "dl dl dl dl dl"
        ". dgb dgb dgb ."
        ". dgb dgb dgb ."
        ". dgb dgb dgb ."
        ". dgb dgb dgb ."
        ". dgb dgb dgb ."
        "rs rs rs rs rs"
    }
    .dagbok {
        grid-area: dgb;
    }
    .datelist {
        grid-area: dl;
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: center;
        margin-top: 10px;
    }
    .datelist h2 {
        position: fixed;
        visibility: hidden;
    }
    .dates {
        display: flex;
        flex-direction: row;
    }
    .dates h4 {
        display: block;
        background-color: #CDEDF6;
        height: 100%;
        color: #042a2b;
        margin: 0px 5px;
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .dgbtext {
        display: flex;
        width: 100%;
        height: 70%;
        box-sizing: border-box;
        border-style: none;
        border: #042a2b 5px solid;
        border-radius: 20px;
        padding: 15px;
        font-size: 16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .dagbok button {
        border-style: none;
        border-radius: 5px;
        background-color: #042a2b;
        padding: 5px;
        transition: all .2s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #main_dgb .resor {
        grid-area: rs;
        position: fixed;
        bottom: -260px;
        background-color: #5EB1BF;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        z-index: 2;
    }
    #main_dgb .resor h2 {
        margin: 4px 10px;
    }
    #main_dgb .resclick {
        display: flex;
        top: -25px;
        position: relative;
        flex-direction: row;
        justify-content: center;
    }
    .newpop {
        position: fixed;
        display: none;
        z-index: 5;
        left: 30%;
    }
    .newpop input[type="text"] {
        padding: 5%;
        font-size: 300%;
        width: 120px;
        border-style: none;
    }
    .newpop input[type="submit"] {
        border: none;
        text-decoration: none;
        padding: 5%;
        font-size: 300%;
        width: 146px;
        background-color: #CDEDF6;
        font-family: 'Roboto', sans-serif;
    }
    #main_dgb .reslist i {
        position: relative;
        margin-bottom: 10px;
        background-color: #042a2b;
        border-radius: 5px;
        transition: .5s ease all;
    }
    .reslist {
        display: block;
        position: relative;
        bottom: 20px;
    }
    .reslist div {
        height: 50px;
    }
    #main_dgb .list {
        position: fixed;
        visibility: hidden;
    }
    /* -----------MAIN MATCH----------- */
    #main_mc {
        grid-area: mn;
        display: grid;
        background-image: url('../img/bg.jpeg');
        background-size: cover;
        height: auto;
        min-height: 100%;
        grid-template-rows: 15% 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 30px repeat(3, 1fr) 30px;
        overflow-x: auto;
        white-space: nowrap;
        grid-template-areas: 
        ". mc mc mc ."
        ". mc mc mc ."
        ". mc mc mc ."
        ". mc mc mc ."
        ". mc mc mc ."
        ". mc mc mc ."
        ". mc mc mc ."
    }
    #main_mc .list {
        position: fixed;
        visibility: hidden;
    }
    .match {
        grid-area: mc;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .match > h2 {
        color: #042a2b;
    }
    .match > h4 {
        color: #042a2b;
        margin-top: -20px;
    }
    .dest {
        display: block;
        background-color: #042a2b;
        border-radius: 20px;
        width: 100%;
        min-height: 180px;
        overflow: hidden;
        padding-bottom: 20px;
        white-space: nowrap;
        margin-bottom: 50px;
        transition: all .4s ease;
    }
    .persons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-self: center;
        justify-content: center;
        overflow-x: auto;
        margin-bottom: 40px;
    }
    .person {
        border-radius: 5px;
        margin: 0px 30px;
        background-color: #CDEDF6;
        display: flex;
        flex-direction: column;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .person h5 {
        margin-top: -5px;
        user-select: none;
        color: #042a2b;
    }
    .chat {
        resize: none;
        width: 60%;
        height: 200px
    }
    .chatform {
        margin-bottom: 20px
    }
    .chatwrite {
        width: 50%;
    }
    .chatsend {
        width: 10%;
        background-color: #CDEDF6;
        border-style: none;
    }
    #main_mc .resor {
        grid-area: rs;
        position: fixed;
        bottom: -260px;
        background-color: #5EB1BF;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        left: 0px;
        z-index: 2;
    }
    #main_mc .resclick {
        display: flex;
        top: -48px;
        position: relative;
        flex-direction: row;
        justify-content: center;
    }
    #main_mc .resor h2 {
        margin: 4px 10px;
    }
    i {
        user-select: none;
    }
    h1 {
        font-family: 'Raleway', sans-serif;
        color: #CDEDF6;
        font-size: 6em;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        color: #CDEDF6;
        font-size: 5em;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        color: #CDEDF6;
        font-size: 4em;
    }
    h4 {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #CDEDF6;
        font-size: 4em;
    }
    h5 {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #CDEDF6;
        font-size: 3em;
    }
    p {
        font-family: 'Roboto', sans-serif;
        color: #CDEDF6;
        font-size: 3em;
    }
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: -20%;
    }
    li {
        list-style-type: none;
    }
    .inactive {
        background-color: #2c5f61;
        transition: background-color .3s ease;
    }
    .material-icons.md-18 {
        font-size: 18px;
    }
    
    .material-icons.md-24 {
        font-size: 24px;
    }
    
    .material-icons.md-36 {
        font-size: 36px;
    }
    
    .material-icons.md-42 {
        font-size: 42px;
    }
    
    .material-icons.md-48 {
        font-size: 48px;
    }
    .material-icons.md-86 {
        font-size: 86px;
    }
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
        /* Support for IE. */
        font-feature-settings: 'liga';
    }
    
    .material-icons.md-dark {
        color: #042a2b;
    }
    
    .material-icons.md-dark.md-inactive {
        color: #2c5f61;
    }
    
    .material-icons.md-medium {
        color: #5EB1BF;
    }
    
    .material-icons.md-medium.md-inactive {
        color: #2c5f61;
    }
    
    .material-icons.md-light {
        color: #CDEDF6;
    }
    
    .material-icons.md-light.md-inactive {
        color: rgba(255, 255, 255, 0.3);
    }
}
i {
    user-select: none;
}
h1 {
    font-family: 'Raleway', sans-serif;
    color: #CDEDF6;
    font-size: 6em;
}
h2 {
    font-family: 'Raleway', sans-serif;
    color: #CDEDF6;
    font-size: 5em;
}
h3 {
    font-family: 'Roboto', sans-serif;
    color: #CDEDF6;
    font-size: 4em;
}
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #CDEDF6;
    font-size: 4em;
}
h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #CDEDF6;
    font-size: 3em;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #CDEDF6;
    font-size: 3em;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -20%;
}
li {
    list-style-type: none;
}
.inactive {
    background-color: #2c5f61;
    transition: background-color .3s ease;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-dark {
    color: #042a2b;
}

.material-icons.md-dark.md-inactive {
    color: #2c5f61;
}

.material-icons.md-medium {
    color: #5EB1BF;
}

.material-icons.md-medium.md-inactive {
    color: #2c5f61;
}

.material-icons.md-light {
    color: #CDEDF6;
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #CDEDF6;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #CDEDF6;
}

::-webkit-scrollbar-thumb
{
	background-color: #5EB1BF;
}